@import "variables";

form {
    border: 1px solid $form-border-clr;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;

    input {
        margin: 10px 0;

        &[type="text"] {
          width: 100%;
          padding: 1em;
          box-sizing: border-box;
        }

        &[type="submit"] {
          padding: 0.5em 0;
          background-color: $accent-clr;
          color: $primary-txt-clr;
          font-weight: bold;
          font-size: 1rem;
          text-transform: capitalize;
          cursor: pointer;
          outline: none;
          border: none;
          border-radius: 3px;
          transition: color .3s ease-in-out,
                      background-color .3s ease-in-out;

          &:hover {
            color: $hover-btn-txt-clr;
            background-color: $hover-clr;
          }
        }
    }
}
