<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Article text sentiment analyzer</title>
        <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css">
    </head>

    <body>

        <header class="border">
            <h1 class="border">Analyze your article</h1>
            <nav>
              <a href="index.html">Home</a>
            </nav>
        </header>

        <main>
            <section>
                <form onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Enter your article text here...">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)">
                </form>
            </section>

            <section class="border results__container">
                <h2 class="border">Results:</h2>
                <div id="results">
                  <p class="border" id="results-header">
                    <span id="form-text"></span>
                    <span id="message"></span>
                  </p>
                  <table class="border">
                    <th>Polarity</th>
                    <th>Subjectivity</th>
                    <th>Irony</th>
                    <tr>
                      <td id="score-tag"></td>
                      <td id="subjectivity"></td>
                      <td id="irony"></td>
                    </tr>
                  </table>
                </div>
            </section>
        </main>

        <footer class="border">
            <p>&copy Silas Jimmy, 2021</p>
            <p>All rights reserved</p>
        </footer>

        <script>
         // Check that service workers are supported
         if ('serviceWorker' in navigator) {
             // Use the window load event to keep the page load performant
             window.addEventListener('load', () => {
                 navigator.serviceWorker.register('/service-worker.js');
             });
         }
        </script>

    </body>
</html>
